main{
    width: 100%;
    height: max-content;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin: 0 auto;
}
.imageContainer{
    width: 100%;
    height: 100vh;
    &__image{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        >figcaption{
            position: absolute;
            bottom: 5%;
            width: 90%;
            left: 5%;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.312);
            font-size: 24px;
            color: rgb(255, 250, 250);
            font-weight: 700;
            text-shadow: 0 0 10px #ffd700, 1px 1px 20px yellow, 1px 1px 20px rgb(255, 13, 0);
            backdrop-filter: blur(3px);
        }
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  
}
.heart{
    position: absolute;
    top: 20px;
    right: 20px;
}
.exit{
    position: absolute;
    left: 20px;
    top: 20px;
    border: none;
    background: transparent;
    >img{
        width: 40px;
        height: 40px;
        fill: whitesmoke;
    }
    :hover{
        text-shadow: 2px 3px 15px gold;
        color: rgba(255, 0, 0, 0.732);
        transform: scale(1.1);
    }
}
.textContainer{
    transition: max-height 0.9s ease-in-out; /* Add transition property */
    color: whitesmoke;
    text-shadow: 1px 1px 5px gold, 1px 1px 20px whitesmoke; 
    max-height: 300px; 
}
.text{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
    transition: max-height 0.9s ease-in-out; /* Add transition property */
    max-height: 300px; /* Set initial max-height */
    backdrop-filter: blur(2px);
    a{
        cursor: pointer;
        >span{
            text-decoration: underline;
            :hover{
                text-shadow: 2px 3px 15px gold;
                color: rgba(255, 0, 0, 0.732);
                transform: scale(1.1);
            }
        }
    }
   
}
.expanded {
    max-height: max-content; /* Set max-height to max-content when expanded */
  }
.readMore{
    margin-top: 30px;
    cursor: pointer;
    backdrop-filter: blur(3px);
    font-size: 22px;
    text-shadow: 1px 1px 5px gold, 1px 1px 10px red;
    :hover{
        transform: scale(1.2);
    }
}
.btnContainer{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}
.citateList,.history,.links{
    display: none;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.open.citateList, .open.links{
    opacity: 1;
    width: 95%;
   display: flex;
   text-align: left;
   flex-direction: column;
   align-items: flex-start;
   gap: 5px;
}

.citateItem{
    width: 100%;
    font-size: 16px;
}
.open.history{
    opacity: 1;
    width: 95%;
   display: flex;
}

.slide{
    min-height: 150vh;
    margin-bottom: 50px;
}
