*{list-style: none;}
main{
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    position: relative;
    min-height: 100dvh;

}
.exit{
    position: absolute;
    top: 70px;
    left: 30px;
    margin-top: 20px;
    width: 5vw;
    z-index: 99999;
    background: transparent;
    transition: 0.5s ease-in-out;

}
.exit:hover{
    transform: scale(1.2);
}
.imageContainer{
    width: 100%;
    height: 100vh;
    &__image{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        >figcaption{
            font-family: Croissant One;
            position: absolute;
            bottom: 5%;
            width: 90%;
            left: 5%;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.312);
            //styleName: H1;
            font-family: Gilroy;
            font-size: 48px;
            font-weight: 600;
            backdrop-filter: blur(3px);
            @media screen and (max-width:768px) {
                font-size: 22px;
            }
        }
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  
}
.heart{
    position: absolute;
    top: 20px;
    right: 20px;
}
.exit{
    position: absolute;
    left: 20px;
    top: 20px;
    border: none;
    background: transparent;
  
    :hover{
        text-shadow: 2px 3px 15px gold;
        color: rgba(255, 0, 0, 0.732);
        transform: scale(1.1);
    }
}
.textContainer{
    padding: 30px;
    transition: max-height 0.9s ease-in-out; /* Add transition property */
    color: whitesmoke;
    max-height: 300px; 
    
    @media screen and (max-width:768px) {
        font-size: 16px;
        padding: 10px;

    }
}
.text{
    font-family: Merriweather;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 18px;
    transition: max-height 0.9s ease-in-out; /* Add transition property */
    max-height: 300px; /* Set initial max-height */
    backdrop-filter: blur(2px);
    @media screen and (min-width:1220px) {
        font-size: 22px;
    }
    @media screen and (max-width:768px) {
        font-size: 16px;
    }
    a{
        cursor: pointer;
        >span{
            text-decoration: underline;
            :hover{
                transform: scale(1.1);
            }
        }
    }
   
}

.expanded {
    max-height: max-content; 
  }

.btnContainer{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}
.row1{
    width: 100%;
    padding-left:3% ;
    padding-right: 3%;
}
.row2{
    width: 100%;
    gap: 30px;
    display: flex;
    @media screen and (max-width:768px) {
        flex-direction: column;
    }
}
.citateList,.history,.links{
    display: none;
    opacity: 0;
    transition: 0.5s ease-in-out;
    
}

.open.citateList, .open.links{
    opacity: 1;
    width: 95%;
    margin-top: 20px;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.citateItem{
    width: 100%;
    font-size: 20px;
    @media screen and (max-width:768px) {
        font-size: 16px;
    }
    @media screen and (min-width:1220px) {
        font-size: 22px;
    }
}
.open.history{
    opacity: 1;
    width: 175%;
    margin-right: 100%;
   display: flex;
     @media screen and (max-width:768px) {
    width: 95%;
    margin-right: 0;
   }
}
.marginTop.history{
    margin-top: 30vh;
}
.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    a{
        img{
            :hover{
                transform: scale(1.5);
                box-shadow: 1px 1px 40px red;
            }
        }
    }
    
}
.slide{
    overflow-x: hidden;
    box-sizing: border-box;
    min-height: 100vh;
    margin-bottom: 50px;
    display: grid;
    position: relative;
    grid-template-columns: 50% 50%;
    @media screen and (max-width:1220px) {
        min-height: 150vh;
        display: flex;
        flex-direction: column;
    }
}
.sep{
    position: absolute;
    height: 100vh;
    left: 49%;
    @media screen and (max-width:1220px) {
       display: none;
    }
}


