.HallOfGlory{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Footer{
    position: fixed;
    bottom: 20px;
    border: 1px solid red;
    margin-bottom: 50px;
}
