.AnimatedWindows {
  position: relative;
    min-height: 100vh; /* Set a height to allow scrolling */
    width: 100%;
    padding-top: 60px;
    background-image: url('../../assets//camon//main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }
  button{
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.474), 0px 0px 20px rgba(255, 217, 0, 0.527);
    text-decoration: none;
  }
  h2{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #ffd700, 1px 1px 20px yellow;

  }
  .title{
    text-align: center;
    background: linear-gradient(to right, #ffd700, #ffd700 50%, #fff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 36px;
    color: rgb(216, 27, 27);
    font-weight: 700;
    text-shadow: 0 0 10px #ffd700, 1px 1px 20px yellow;
    backdrop-filter: blur(5px);
  }
  .btns{
    padding-top: 40px;
    display: grid;
    height: 100%;
    gap: 30px;
    grid-template-rows: repeat(5,1fr);
    margin-bottom: 100px;
  }
  .window{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    width: 90%;
    height: 90%;
    background: transparent;
    margin-left: 5%;
    font-size: 22px;
    font-weight: 700;
    backdrop-filter: blur(5px);
    box-shadow: 1px 2px 10px gold, 1px 0px 5px red;
    transition: 0.7s ease-in-out;
    border: none;
    text-decoration: none;
    
  }

  
  .ABout__button{
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.381);
    color: whitesmoke;
    z-index: 1000;
    border-radius: 20px;
  }
  .hidenText{
    display: none;
  }
  
  .favorites{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    font-size: 22px;
    border-radius: 15px;
  }
  .visible {
    display: flex;
    opacity: 1;
    animation: slide-in 0.5s ease-in-out;
  }
  .visibleText{
    display: flex;
    opacity: 1;
    animation: slide-in 0.5s ease-in-out;
    z-index: 225;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  




.textContainer{
    transition: max-height 0.9s ease-in-out; 
    color: whitesmoke;
    text-shadow: 1px 1px 5px gold;
    max-height: 300px; 
}
.text{
  z-index: 99;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: max-height 0.9s ease-in-out; /* Add transition property */
    max-height: 300px; /* Set initial max-height */
    backdrop-filter: blur(2px);
    a{
        cursor: pointer;
        >span{
            text-decoration: underline;

        }
    }
   
}
.expanded {
    max-height: max-content; 
.readMore{
    color: #ffd700;
    z-index: 999;
    margin-top: 30px;
    cursor: pointer;
    backdrop-filter: blur(3px);
    font-size: 22px;
    text-shadow: 1px 1px 5px gold, 1px 1px 10px red;
}}

.skroll{
  position: absolute;
  left: 0;
  top:450px;
  transform: rotate(90deg);
}

.randomPick{
  font-size: 30px;
  color: gold;
}
.Allpick{
  font-size: 30px;
  color: gold;
}