.CitateItem{
    background: transparent;
    padding: 20px;
    display: flex;
justify-content: space-between;
align-items: center;
    &__text{
        width: 100%;
    }
}
.heart{
    // position: absolute;
    // top: 20px;
    // right: 20px;
}