


h1,
h2,

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 48px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 22px;
}

h4 {
    font-size: 18px;
    color: #333;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    //width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.jc-sb {
    justify-content: space-between;
}

.jc-fe {
    justify-content: flex-end;
}

.ai-center {
    align-items: center;
}

.ai-start {
    align-items: flex-start;
}

.gap20 {
    gap: 20px;
}

.pointer {
    cursor: pointer;
}

.width100 {
    width: 100%;
}

.ta-left {
    text-align: left;
    text-align: -webkit-left;
    text-align: -moz-left;
}

.ta-right {
    text-align: right;
    text-align: -webkit-right;
    text-align: -moz-right;
}

.mt20 {
    margin-top: 20px;
}
